/* static/styles.css */

/* Form Styles */
form {
    margin-bottom: 20px;
}


input[type="text"], select {
    padding: 8px;
    font-size: 16px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

a {
    color: #1638b5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Button Styles */
button {
    background-color: #007bff; /* Blue background */
    border: none;
    color: white; /* White text */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.no-tasks-message {
    font-style: italic;
    color: #555;
    text-align: center;
    margin-top: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
